<div class="container">
    <mat-card class="login-card">
        <mat-card-title>Logowanie</mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="">

                    <mat-hint>alert1</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Hasło</mat-label>
                    <input matInput placeholder="">

                    <mat-hint>alert2</mat-hint>
                </mat-form-field>
            </p>

        </mat-card-content>
        <mat-card-actions>
            <button class="login-button" mat-raised-button>Zaloguj</button>
            <mat-divider></mat-divider>
            <a [routerLink]="['../rejestracja']">Nie masz konta? Zarejestruj się.</a>
        </mat-card-actions>
    </mat-card>


</div>