<mat-card class="login-card">
    <mat-card-title>Logowanie</mat-card-title>

    <mat-card-content>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>

        <button mat-button>Zaloguj</button>
        <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
</mat-card>