<div class="container">
    <mat-card class="login-card">
        <mat-card-title>Logowanie</mat-card-title>
        <mat-divider></mat-divider>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-card-content>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label for="email">Email</mat-label>
                        <input type="email" formControlName="email" matInput placeholder="">

                        <mat-hint *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">
                            Podaj poprawny email.</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label for="password">Hasło</mat-label>
                        <input type="password" formControlName="password" matInput placeholder="">

                        <mat-hint *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">
                            Podaj poprawne hasło</mat-hint>
                    </mat-form-field>
                </p>

            </mat-card-content>
            <mat-card-actions>
                <button type="submit" [disabled]="!loginForm.valid" mat-raised-button>Zaloguj</button>
            </mat-card-actions>
        </form>
        <mat-card-footer>
            <a [routerLink]="['../rejestracja']">Nie masz konta? Zarejestruj się.</a>
        </mat-card-footer>

    </mat-card>


</div>