.login-card {
    display: block;
    margin: auto;
    margin-top: 3%;
    vertical-align: middle;
    max-width: 400px;
    justify-content: center;
    background-color: rgb(255, 176, 72);
}

.mat-card-content {
    margin: auto;
    margin-top: 9%;
    vertical-align: middle;
    max-width: 200px;
    justify-content: center;
}

.mat-raised-button {

    color: rgb(156, 88, 0);
    background-color: rgb(255, 201, 130);
    vertical-align: middle;
}

.mat-card-title {
    text-align: center;
    color: rgb(156, 88, 0);

}

.mat-divider {
    margin-block: 3%;
}