.container {
    display: block;
    margin: auto;
}

.login-card {
    margin-top: 2%;
    display: block;
    margin: auto;
    vertical-align: middle;
    max-width: 400px;
    justify-content: center;
    background-color: rgb(255, 176, 72);
}

.login-button {
    display: block;
    margin: auto;
}

.title {
    text-align: center;
}
