<div class="container">
    <mat-card class="login-card">
        <mat-card-title class="poppins">Rejestracja</mat-card-title>
        <mat-divider></mat-divider>

        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <mat-card-content>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label for="email">Email</mat-label>
                        <input type="email" formControlName="email" matInput placeholder="">

                        <mat-hint *ngIf="registerForm.controls.email.errors && registerForm.controls.email.touched">
                            Podaj poprawny email.</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label for="password">Hasło</mat-label>
                        <input type="password" formControlName="password" matInput placeholder="">

                        <mat-hint
                            *ngIf="registerForm.controls.password.errors && registerForm.controls.password.touched">
                            Hasło minimum 6 znaków!</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="fill">
                        <mat-label for="password2">Powtórz hasło</mat-label>
                        <input type="password" formControlName="password2" matInput placeholder="">

                        <mat-hint
                            *ngIf="registerForm.controls.password2.errors && registerForm.controls.password2.touched">
                            Hasła muszą być takie same.</mat-hint>
                    </mat-form-field>
                </p>

                <p>
                    <input type="checkbox" class="form-check-input" (change)="onCheckChange()" />
                    <label class="form-check-label">Akceptuję wszystkie zgody</label>
                </p>
                <p>
                    <input type="checkbox" class="form-check-input" formControlName="acceptReg" />
                    <label for="acceptReg" class="form-check-label">*Zapoznałem/am się z Regulaminem</label>

                </p>
                <p>
                    <input type="checkbox" class="form-check-input" formControlName="acceptPriv" />
                    <label for="acceptPriv" class="form-check-label">*Zapoznałem/am się z Polityką Prywatności</label>
                </p>
                <p>
                    <input type="checkbox" class="form-check-input" formControlName="acceptData" />
                    <label for="acceptData" class="form-check-label">Wyrażam zgodę na przetwarzanie moich danych w
                        celach marketingowych</label>
                </p>



            </mat-card-content>
            <mat-card-actions>
                <button type="submit" [disabled]="!registerForm.valid" mat-raised-button>Zarejestruj</button>
            </mat-card-actions>
        </form>
        <mat-card-footer>
            <a [routerLink]="['../logowanie']">Masz już konto? Zaloguj się.</a>
        </mat-card-footer>
    </mat-card>


</div>