<div class="container">
    <mat-card class="login-card">
        <mat-card-title class="title">Rejestracja</mat-card-title>

        <mat-card-content class="content">
            <div>
                <mat-form-field>
                    <mat-label>Input</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>


        </mat-card-content>
        <mat-card-actions>

            <button class="login-button">Rejestruj</button>

        </mat-card-actions>
    </mat-card>
</div>